.author {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  padding-bottom: 50px;

  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    padding-top: 15px;
  }

  &__date {
    padding-top: 5px;
    color: var(--text-footer);
  }
}