.product {
  padding-bottom: 50px;

  &__options {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    gap: 20px;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__os {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: var(--text-footer);
    padding-bottom: 5px;
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 145%;
  }

  &__icon {
    background:var(--icon-background-links);
    border-radius: 10px;
    color: var(--textBW);
    width: 50px;
    height: 50px;

    &_windows {
      background:var(--icon-background-links);
      border-radius: 10px;
      color: var(--windows-icon);
      width: 50px;
      height: 50px;

      &:hover {
        box-shadow: var(--hover-box-shadow);
        background-color: var(--icon-background-hover);
      }
  
      &:active {
        background-color: var(--icon-background-hover);
        color: var(--icon-color-hover);
      }
    }

    &:hover {
      box-shadow: var(--hover-box-shadow);
      background-color: var(--icon-background-hover);
    }

    &:active {
      background-color: var(--icon-background-hover);
      color: var(--icon-color-hover);
    }
  }
}