.news {
  padding-bottom: 120px;

  &__main {
    position: relative;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 100px;

    @media (max-width: 1000px) {
      width: 100vw;
      margin: 0 -20px;
      border-radius: 0;
      margin-bottom: 60px;
    }
  }

  @media (max-width: 1000px) {
    padding-bottom: 60px;
  }

  &__block {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;

    &_double {
      grid-template-columns: 2fr 1fr; 
      grid-template-rows: 1fr;
      gap: 30px;

      @media (max-width: 1000px) {
        grid-template-columns: 1fr; 
        gap: 60px;
      }
    }

    @media (max-width: 1000px) {
      grid-template-rows: auto 1fr auto;
    }
  }

}
