$wh-1: #FFFFFF;
$wh-2: #f7f7f7;
$bl-00: #000000;
$bl-1: #080610;
$bl-2: #1B1F24;
$bl-3: #1D192C;
$gr-1: #A29DBA;
$gr-2: #767288;
$gr-EB: #EBEBEB;
$or-1: #FF721C;
$pink: #c1a4f6;
$rgb-dark-1: rgba(29, 25, 44, 0.8);
$rgb-dark-2: 0px 4px 40px rgba(34, 34, 34, 0.1);
$rgb-dark-3: rgba(0, 0, 0, 0.05);
$rgb-gr-1: rgba(255, 255, 255, 0.2);
$rgb-gr-2: rgba(118, 114, 136, 0.5);
$rgb-gr-darck: rgba(255, 255, 255, 0.1);
$rgb-darck-04:rgba(29, 25, 44, 0.4);
$rgb-wh: rgba(255, 255, 255, 0.7);
$rgb-wh-07: rgba(0, 0, 0, 0.05);
$f_gilroy: "Gilroy", serif;
$image: url(/static/backgraund-communiti.png);
$blue-39: #379FFF;