* {
  font-family: $f_gilroy;
  transition: background 0.3s ease;
}

body {
  --background: #{$wh-2};
  --background-button: #{$bl-1};
  --background-dropdowne: #{$gr-EB};
  --community-background: #{$image};
  --community-background-mobile: #{$image};
  --main-background: #{$rgb-wh-07};
  --textBG: #{$bl-1};
  --textBW: #{$bl-1};
  --textWG: #{$gr-2};
  --textGW: #{$wh-1};
  --inputBW: #{$wh-1};
  --inputBG: #{$rgb-dark-3};
  --placeholder-search: #{$bl-1};
  --icon-background-links: #{$gr-EB};
  --icon-background-hover: #{$wh-1};
  --icon-color-hover: #{$rgb-gr-2};
  --hover-box-shadow: #{$rgb-dark-2};
  --border: #{$gr-1};
  --text-footer: #{$gr-2};
  --text-footer-end: #{$gr-2};
  --logo-desk: #{$or-1};
  --logo-mb: #{$bl-1};
  --gradient: none;
  --windows-icon: #{$blue-39};
  background: var(--background);
  color: var(--textBW);
}

body.dark-theme {
  --background: #{$bl-1};
  --background-button: #{$bl-3};
  --background-dropdowne: #{$bl-3};
  --community-background: #{$bl-00};
  --community-background-mobile: #{$bl-1};
  --main-background: #{$rgb-darck-04};
  --textBG: #{$gr-1};
  --textBW: #{$wh-1};
  --textWG: #{$wh-1};
  --textGW: #{$gr-1};
  --inputBW: #{$bl-3};
  --inputBG: #{$bl-3};
  --placeholder-search: #{$rgb-gr-1};
  --icon-background-links: #{$bl-3};
  --icon-background-hover: #{$rgb-dark-1};
  --icon-color-hover: #{$rgb-wh};
  --hover-box-shadow: none;
  --border: #{$rgb-gr-darck};
  --text-footer: #{$gr-1};
  --text-footer-end: #{$wh-1};
  --logo-desk: #{$wh-1};
  --logo-mb: #{$wh-1};
  --gradient: block;
  --windows-icon: #{$wh-1};
}